@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Audiowide";
  src: url("/src/assets/fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply font-sans;
    @apply text-base;
  }
}
