@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin h1-style {
    font-family: "Audiowide", sans-serif;
    font-weight: $regular;
    font-size: 2rem;
    line-height: 2.5rem;
    color:$heading-color;

    @include tablet {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

@mixin h2-style {
    font-family: "Audiowide", sans-serif;
    font-weight: $regular;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $heading-color;

    @include tablet {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@mixin small-body-style {
    font-size: 0.75rem;
    line-height: 0.875rem;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1rem;
    }

}

@mixin page-layout {
    padding: $spacing-mobile;

    @include tablet {
        padding: $spacing-tablet;
    }

    @include desktop {
        padding: 1.5rem $spacing-desktop;
    }
}

@mixin section-layout {
    display: flex;
    flex-direction: column;
    gap: $spacing-mobile;
    @include page-layout;
}

@mixin button-style {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}