$background-color: #0B0C10;

$primary-text-color: #EAEAEA;
$heading-color: #915EFF;

$cta: #915EFF;
$cta-hover: #D16BA5;

$glow: #FFCB6B;
$soft: #d5b3ff;

$card-fill: #080D11;
$card-shadow: #2C2F48;
$reversed: #5A5A5A;

