$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$background-color: #0B0C10;

$primary-text-color: #EAEAEA;
$heading-color: #915EFF;

$cta: #915EFF;
$cta-hover: #D16BA5;

$glow: #FFCB6B;
$soft: #d5b3ff;

$card-fill: #080D11;
$card-shadow: #2C2F48;
$reversed: #5A5A5A;

$light: 300;
$regular: 400;
$semibold: 600;

$spacing-mobile: 1rem;
$spacing-tablet: 1.5rem;
$spacing-desktop: 3rem;