@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include page-layout;
}

.reading-question {
    display: flex;
    flex-direction: column;
    gap: $spacing-mobile;
    @include page-layout;

    &__title {
        text-align: center;
        @include h2-style;
    }

    &__text {

    }
}

